// General
// --------------------------------
h2, h3 { color: #666; }
ul {
  margin-bottom: 0;
  list-style: square;
}

// Positioning
// --------------------------------
.wrapper {
  width: 800px;
  margin: 0 auto;
}
.primary {
  width: 76%;
  float: right;
  overflow-x: hidden;
}
.secondary {
  float: left;
  width: 20%;
}

// Bootstrap Modifications
// --------------------------------
.nav-list > li > a:hover { background: #EEE; }
// .navbar .nav > li > a { text-shadow: none; }
.alert ul,
.alert p { margin-bottom: 0; }
.well {
  min-height: 0;
  margin-bottom: 10px;
  .btn { margin-left: 5px; }
}
nav.well { padding: 10px 0; }
.form-collapsed,
.form-delete {
  display: inline;
  .form-actions {
    float: left;
    margin-top: 0;
    padding-right: 0;
  }
}
.form-delete .form-actions {
  padding-left: 0;
  padding-right: 500px;
  margin-right: -500px;
}
.form-actions .btn { margin-right: 5px; }
.btn { font-weight: normal; }
textarea { height: 14em; }

// Sortable
// --------------------------------
.handle { cursor: move; }
.ui-sortable-helper { opacity: .5; }
// .section { margin-bottom: 10px; }

// Footer
// --------------------------------
footer {
  text-align: right;
  clear: both;
}
