// Colors
// --------------------------------
$white: #FEFEFE;
// $light_grey: #999;
$grey: #999;
$dark_grey: #333;
$light_yellow: #FFF5D8;
$medium_yellow: #ffebc5;
$red: #CB0010;
// $teal: #389C96;
$teal: #00A69D;

// General
// --------------------------------
::-moz-selection { background: rgba(0,166,157,.75); color: #fff; text-shadow: none; }
::selection { background: rgba(0,166,157,.75); color: #fff; text-shadow: none; }
body {
	background: $light_yellow;
  color: $grey;
  font-family: "museo", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}
h1, h2, h3, h4,
nav.main a {
	font-family: "museo-slab", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
h1, h2, h3, h4 {
  font-weight: 400;
  color: $teal;
  line-height: 1em;
  margin: .5em 0 0;
}
h1 {
  font-size: 28px;

//   margin: 0;
}
h2 {
  // font-size: 32px;
  font-size: 18px;
//   line-height: 1.1em;
}
// h3 {
//   font-size: 22px;
//   font-family: "PT Sans Narrow", Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
// }
// h4 {
//   font-weight: 700;
//   font-size: 1em;
// }
p { margin: .6em 0; }
ul {
  list-style: disc;
  margin: .8em 0;
  padding-left: 2.5em;
}
li {
  line-height: 1.6em;
}
ul ul { margin: .4em 0; }
ul ul li {
  line-height: 1.4em;
}
a {
  color: $grey;
  &:hover { color: $dark_grey; }
}

// Positioning
// --------------------------------
.wrapper { background: url("../img/brown-spots.jpg") center top; }
.upper-outer,
.thanks-inner,
.colophon-inner {
  width: 1000px;
  margin: 0 auto;
}
.upper-middle {
  background: url("../img/white-glow.png") 0 top no-repeat;
  padding-left: 200px;
  margin-left: -200px;
}
.upper-inner {
  background: url("../img/big-ring.png") 0 top no-repeat;
  padding-left: 850px;
  margin-left: -850px;
  &.home {
    background: url("../img/big-ring-home.png") 0 top no-repeat;
    padding-left: 650px;
    margin-left: -650px;
  }
}
.primary {
  width: 46%;
  float: right;
}
.secondary {
  float: left;
  width: 54%;
}

// Header
// --------------------------------
header {
  padding-top: 84px;
  position: relative;
  .logo {
    float: left;
    &.rfe { padding: 53px 0 0 42px; }
  }
  .social {
    position: absolute;
    top: 23px;
    right: 45px;
    a {
      display: block;
      float: left;
      background: url("../img/social.png") left top no-repeat;
      width: 20px;
      height: 20px;
      text-indent: -10000px;
      &.facebook:hover { background-position: 0 -20px; }
      &.twitter {
        background-position: -20px 0;
        &:hover { background-position: -20px -20px; }
      }
    }
  }
}

// Main
// --------------------------------
#main {
  // position: relative;
}

// Primary
// --------------------------------
.primary {
  margin-top: -60px;
}
.primary-inner {
	padding-left: 80px;
	background-position: left top;
	background-repeat: no-repeat;
}
.sections {
  list-style: none;
  padding-left: .75em;
}
.section { color: $teal; }
.section .section-title:before {
  content: '+ ';
  font-size: .8em;
  margin-right: .35em;
  vertical-align: top;
}
.link { color: $grey; }
.link-description {
  // display: block;
}

// Secondary
// --------------------------------
nav.main {
  // padding-top: 32px;
  // background: blue;
  font-size: 26px;
  // line-height: 8px;
  padding: 14px 0 0 205px;
  margin-right: -50px;
  ul {
    padding-left: 0;
    margin: 0;
  }
  li {
    background: url("../img/small-ring.png") left top no-repeat;
    height: 78px;
    &.item-1 { margin-left: -5px; }
    &.item-3 { margin: 1px 0 0 -10px; }
    &.item-4 { margin: -3px 0 0 -35px; }
    &.item-5 { margin: -9px 0 0 -73px; }
  }
  a {
    background: url("../img/nav-icons.png") left top no-repeat;
    text-decoration: none;
    color: $red;
    display: block;
    line-height: 20px;
    padding-top: 12px;
    padding-left: 55px;
    // background: rgba(0,0,0,.2);
    .description {
    	font-size: 16px;
    	display: block;
    	color: $grey;
      line-height: 18px;
    }
    &:hover,
    &:hover .description { color: $dark_grey; }
    &:hover { background-position: left -100px; }
    &.education {
      background-position: left -200px;
      &:hover { background-position: left -300px; }
    }
    &.how-do-i {
      background-position: left -400px;
      &:hover { background-position: left -500px; }
    }
    &.assistance {
      background-position: left -800px;
      &:hover { background-position: left -900px; }
    }
    &.connect {
      background-position: left -1000px;
      &:hover { background-position: left -1100px; }
    }
    &.multimedia {
      background-position: left -600px;
      &:hover { background-position: left -700px; }
    }
  }
  // .current > a {
  //   color: $grey;
  // }
}

// Footer
// --------------------------------
footer {
	color: $white;
	a {
		color: $medium_yellow;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
	}
	.thanks {
		background: #F4DAAE url("../img/stitched.jpg") center top repeat-x;
		border-bottom: 1px solid #004F48;
		height: 95px;
		text-align: center;
		a {
			line-height: 95px;
			// float: left;
			display: inline-block;
			// background: red;
			padding: 0 20px;
			img {
				// display: block;
				vertical-align: middle;
				// background: blue;
			}
		}
	}
	.colophon {
  	font-size: 14px;
  	// clear: both;
  	// margin: 2em 0;
  	// background: #00A69D;
  	background: $teal;
    a {
      text-decoration: none;
    }
    .finra {
      text-align: center;
    }
  	.copyright,
  	.credits {
  		width: 50%;
  		float: left;
  	}
  	.copyright p {
      padding-left: 15px;
    }
  	.credits {
  		text-align: right;
      p { padding-right: 15px; }
  	}
	}
}

// Home Page
// --------------------------------

// Other Pages
// --------------------------------
.money-topics {
	background-image: url("../img/money-topics.png");
}
.education {
  background-image: url("../img/education.png");
}
.how-do-i {
  background-image: url("../img/how-do-i.png");
}

// Utility
// --------------------------------
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }
